.container {
    background: rgb(246, 246, 255);
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    margin-top: 90px;
    padding: 30px;
    border: 1px solid rgb(213, 220, 223);
    border-radius: 10px;
}

.error {
    color: rgb(141, 9, 9);
}

.message {
    color: rgb(12, 148, 7);
}

input {
    padding: 10px 25px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(190, 199, 202);
    outline: none;
}

.btn {
    outline: none;
    border: none;
    margin: 5px;
    background-color: rgb(34, 34, 136);
    padding: 10px;
    font-size: 15px;
    color: white;
    transition: all 0.3s;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(54, 54, 219);
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        /* margin: 50px auto; */
        padding: 100px;
        border-radius: 10px;
        box-shadow: 5px 20px 18px rgb(191, 191, 231);
    }
}