:root {
    --nav-bg-color: rgb(5, 5, 46);
    --nav-content-color: #f4f4ff;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--nav-bg-color);
}

.navBrand {
    text-decoration: none;
    color: var(--nav-content-color);
}

.navLinksUl {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.navLinksUl li {
    list-style: none;
    
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    color: var(--nav-content-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.activeLink {
    color: rgb(209, 132, 233);
}

.burger {
    display: none;
    width: 25px;
    cursor: pointer;
}

.burger div {
    width: 100%;
    height: 3px;
    background-color: var(--nav-content-color);
    margin: 5px;
    transition: all 0.5s ease-in;
}


/* Mobile view  */
@media (max-width: 768px) {
    .navWrapper {
        overflow-x: hidden;
    }

    nav {
        top: 0;
        position: fixed;
        z-index: 100;
    }

    .navLinksUl {
        color: var(--nav-content-color);
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-bg-color);
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
    }

    .navLinksUl li {
        margin: 50px 0;
    }

    .burger {
        display: block;
    }

    .navActive {
        transform: translateX(0);
    }

}
