.readContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    min-height: 100vh;
    background-color: #131f49;
    color: rgb(246, 246, 255);
}

.textControls {
    display: flex;
}

.textControls div {
    margin: 40px;
    font-size: 50px;
    cursor: pointer;
    padding: 0 10px;
}

.saveBtn {
    cursor: pointer;
    background-color: #5878ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

.saveBtn:active {
    background-color: #3450b6;
}

.saveTitle {
    margin-top: 30px;
    text-align: center;
}
